* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  background: #014201;
  height: fit-content;
}

.flex {
  display: flex;
}

h1 {
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}
h2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.top {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}
.top.gradient {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 66, 1, 1) 0%,
    rgba(255, 255, 255, 0) 67%
  );
  z-index: 1;
}
.top.text {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 60vh;
  padding-left: 10vw;
  color: white;
  font-size: 40px;
  z-index: 2;
}
